@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.main{
    background: linear-gradient(180deg, #4C0000 0%, #0A0A0A 100%),
linear-gradient(90deg, rgba(0, 0, 0, 0) 73.01%, rgba(15, 15, 15, 0.6) 73.01%);
}

.playing {
    background: linear-gradient(180deg, #250909 0%, #0f0808 100%),
    linear-gradient(90deg, rgba(0, 0, 0, 0) 73.01%, rgba(15, 15, 15, 0.6) 73.01%);
}